<form id="formTemplate" class="form-group" [class.has-error]="fail" [class.in]="in">
    <label for="username">{{'Username'|nls}}:</label>
    <input class="form-control" id="username" name="username" type="text" />
    <label for="password">{{'Password'|nls}}:</label>
    <input class="form-control" id="password" name="username" type="password" (keyup)="checkEnter($event)" />
    <br>
    <div class="btn btn-primary" (click)="submitLogin()">{{'Sign In'|nls}}</div>
    <div class="btn btn-default" (click)="logOut()" *ngIf="username">{{'Log Out'|nls}}</div>
    <div class="btn btn-default" (click)="login=false; in=false" *ngIf="!username">{{'Cancel'|nls}}</div>
</form>