
<div class="container content">
    <div class="col-md-8 home">
        <h4>Take Advantage of the greatest gift given to us by nature and our city.</h4>
        <p>In Ottawa we are blessed with abundant useful vegetation, free stuff, and a great community. Let's get together and forage!</p>
        <hr>
        <div class="loading pull-left" *ngIf="loading"></div>
        <div *ngFor="let blogPost of blogPosts" class="blog-post">
            <h3>{{blogPost.name}} <span class="pull-right" style="font-size:20px">{{blogPost.createdDate}}</span></h3>
            <bbcode [text]="blogPost.body"></bbcode>
            <div>
                <div class="btn btn-default" (click)="goToComments(blogPost)">{{'Comments'|nls}} ({{blogPost.comments}})</div>
            </div>
            <hr>
        </div>
    </div>
    <div class="col-md-4">
        <img src="img/photoreel1.jpg" width="100%" [title]="'Fern'|nls">
        <img src="img/photoreel2.jpg" width="100%" [title]="'Milk Weed'|nls">
        <img src="img/photoreel3.jpg" width="100%" [title]="'Dandelion'|nls">
        <img src="img/photoreel4.jpg" width="100%" [title]="'Stinging Nettle'|nls">
        <img src="img/photoreel5.jpg" width="100%" [title]="'Wild garlic'|nls">
    </div>
</div>