#mainMap{
	width:100%;
	position:relative;
	height:600px;
	background-color:white;
	border:1px solid black;
}

.popup{
	position: absolute;
    display: block;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 10px;
	z-index:100;
	max-height:400px;
	overflow-y:auto;
	overflow-x:hidden
}

#mainMap h3 {
	margin: 0px;
}
#mainMap p {
	margin: 0px;
}

.blocker{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	z-index:99;
	display:block;
}
.btn-group{
	margin:5px 0;
}
.popup-img{
	width:400px;
}

body label {
	font-size: 14px !important;
	margin-top:5px
}
#addPointForm {
	box-shadow: 0 0 5px;
	padding: 10px 10px;
	position: absolute;
    top: 0px;
    width: 250px;
    right: 0px;
    background-color: rgba(180,255,180,0.7);
}
@media (max-width: 767px) {
	#addPointForm {
		width: 200px;
	}
	maps .advanced {
		margin: 0px -5px;
	}
}
#addPointForm h4 {
	margin: 0px;
}
#addPointForm label {
	margin-bottom: 0px;
}
.navbar .dropdown-menu{
	padding:10px;
}
map {
	display: block;
}
maps hr {
	border-color: #999;
    margin: 0px -10px;
    margin-bottom: 20px;
}
maps .autocomplete-list {
	margin: 5px;
	background-color: rgba(255,255,255,0.5);
    box-shadow: 0 0 2px;
}
maps .autocomplete-list option {
	padding: 5px;
	border-bottom: 1px solid #BBB;
	cursor: pointer;
}
maps .autocomplete-list option:hover {
	background-color: rgba(180,255,180,0.7);
}

maps .advanced .multi {
	cursor: pointer;
}
maps .advanced .multi-list {
	margin: 5px;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 2px;
    position: absolute;
    width: 250px;
    z-index: 10;
}
maps .advanced .multi-list>div {
	padding: 5px;
}
maps .advanced .multi-list .glyphicon {
	padding-right: 10px;
}
maps .advanced .multi-list>div:hover {
	cursor: pointer;
	background-color: rgba(180,255,180,0.7);
}
maps select {
	cursor: pointer;
}

.new-button {
	position: absolute;
    right: 10px;
    top: 10px;
}

.ui-icon-arrow-r {
	background-position-x: -33px;
}
.ui-icon-arrow-l {
	background-position-x: -96px;
}

.advanced {
	padding: 30px 20px;
	margin: 0px -20px;
	margin-top: 20px;
	background-color: rgba(255,255,255,0.9);
}