.header {
    text-align: center;
    background-color: #666;
    color: white;
    padding: 10px;
    margin: 0 -20px;
}
.boards {
    background-color: #DDD;
    padding: 10px;
    margin: 0 -20px;
}
.board {
    background-color:#DDD;
    box-shadow: 0 0 1px 1px #999;
    width: 100%;
    cursor: pointer;
    display: flex;
}
.board.header-board {
    font-weight: 700;
}
.board:hover {
    background-color: #DDF
}
.board .board-cell {
    border-right: 1px solid black;
    padding: 5px;
}
.board .board-icon {
    width:50px;
}
.board .board-text {
    flex: 5;
}
.board .board-threads {
    text-align: center;
    width: 70px;
}
.board .board-posts {
    text-align: center;
    width: 70px;
}
.board .board-latest-post {
    padding: 5px;
    flex: 2;
}
.clear {
    clear: both;
}


div, h1, p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}