.header {
    text-align: center;
    background-color: #666;
    color: white;
    padding: 10px;
    margin: 0 -20px;
    height: 59px;
}
.table {
    background-color: #DDD;
    padding: 10px;
}
.table-row {
    background-color:#DDD;
    box-shadow: 0 0 1px 1px #999;
    width: 100%;
    cursor: pointer;
    display: flex;
}
.table-row.header-row {
    font-weight: 700;
}
.table-row:hover {
    background-color: #DDF
}
.table-row .row-cell {
    border-right: 1px solid black;
    padding: 5px;
}
.table-row .row-icon {
    width:50px;
}
.table-row .row-text {
    flex: 5;
}
.table-row .row-latest-post {
    padding: 5px;
    flex: 2;
}


.table-row .board-threads {
    text-align: center;
    width: 70px;
}
.table-row .board-posts {
    text-align: center;
    width: 70px;
}


.table-row .thread-views {
    text-align: center;
    width: 70px;
}
.table-row .thread-replies {
    text-align: center;
    width: 70px;
}


.clear {
    clear: both;
}


div, h1, p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}