html,body{ height: 100% }
body{ 
	background: url('../img/bg2.jpg'); /*http://graphicriver.net/item/vector-floral-seamless-pattern/3547898*/       
	background: url('../img/bg3.jpg'); /* http://www.shutterstock.com/cat.mhtml?country_code=US&safesearch=1&search_language=en&search_type=similar&similar_photo_id=102874691&tracking_id=VAJHRNwqcUfIAKilaTYdOw&page=1&inline=205363717 */
	background: url('../img/bg.jpg'); /*http://cwf-fcf.org/en/discover-wildlife/flora-fauna/flora/winterberry.html*/
} 
body * {
	font-size: 15px;
}
body .container.content{
	background-color: rgba(255,255,255,0.9);
	padding:20px;
	height:auto;
}
#forageNav.navbar-default{
	border:none;
	position:static;
	margin-bottom:0;
	background: #b4ddb4; /* Old browsers */
	background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 0%, #008a00 4%, #008a00 4%, #005700 83%, #003700 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 0%,#008a00 4%,#008a00 4%,#005700 83%,#003700 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 0%,#008a00 4%,#008a00 4%,#005700 83%,#003700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background: #003700; /* Old browsers */
	background: -moz-linear-gradient(top, #008a00 0%, #008a00 0%, #005700 4%, #005700 4%, #003700 83%, #003700 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #008a00 0%,#008a00 0%,#005700 4%,#005700 4%,#003700 83%,#003700 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #008a00 0%,#008a00 0%,#005700 4%,#005700 4%,#003700 83%,#003700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#forageNav.navbar-default .navbar-nav>li>a{
	color:white;
}
#nav .nav-title{
	font-weight: bold;
	padding:0px 10px;
}
#nav .nav-item a { 
	padding:0px 5px;
	color: white;
	height:40px;
	display:inline-block;
	padding-top:10px;
}
#nav .nav-item a:hover, .nav-item.active a{
	text-decoration: none;
	background-color:rgba(255,255,255,0.1);
}
nav .dropdown-menu {
	padding: 10px;
}
nav .disabled{
	text-decoration: none;
	background-color:rgba(0,0,0,0.1);
}
.home {
	padding: 10px;
}
.home hr {
	border-top-color: #999;
}
.blog-post text {
	margin-bottom: 10px;
	display: block;
}
.blog-post img {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}