
<div class="container content">
    <h1 class="header">{{boardName+' Threads'}}</h1>
    <div class="forum-nav">
        <a href="#?page=4">Boards</a> > {{boardName}}
        <button class="btn btn-primary pull-right" (click)="startNewThread()" *ngIf="token">New Thread</button>
    </div>
    <div class="table" *ngIf="!newThread">
        <div class="table-row header-row">
            <div class="row-cell row-icon">
            </div>
            <div class="row-cell row-text">
                Title
            </div>
            <div class="row-cell thread-views">
                Views
            </div>
            <div class="row-cell thread-replies">
                Replies
            </div>
            <div class="row-latest-post">
                Latest Post
            </div>
        </div>
        <div class="table-row" *ngFor="let thread of threads" (click)="openThread(thread)">
            <div class="row-cell row-icon" [class.active]="thread.icon==='active'">
            </div>
            <div class="row-cell row-text">
                <div>{{thread.name}}</div>
            </div>
            <div class="row-cell thread-views">
                <div>{{thread.views}}</div>
            </div>
            <div class="row-cell thread-replies">
                <div>{{thread.replies}}</div>
            </div>
            <div class="row-latest-post cell-latest-post">
                <div><span>{{thread.replyUser}}</span><div class="glyphicon glyphicon-expand pull-right" (click)="goToLatest(thread, $event)"></div></div>
                <div><small>{{thread.replyDate}}</small></div>
            </div>
        </div>
    </div>
    <new-thread *ngIf="newThread" (close)="newThread=false" (create)="createNewThread($event)" [board]="board">
    </new-thread>
</div>