
<div class="container content">
    <h1 class="header ellipsis">{{threadTitle}}</h1>
    <div class = "forum-nav">
        <a href="#?page=4"> {{'Boards'|nls}}</a> > <a href="#?page=5&board={{board}}">{{boardName}}</a> > {{threadTitle}}
        <div class="loading" *ngIf="loading"></div>
        <button class="btn btn-primary pull-right" (click)="reply()" *ngIf="!replyFlag&&username">{{'Reply'|nls}} <div class="glyphicon glyphicon-share"></div></button>
        <button class="btn btn-primary pull-right disabled" *ngIf="!username" [title]="'Login to reply'|nls">{{'Reply'|nls}} <div class="glyphicon glyphicon-share"></div></button>
        <div class="clear"></div>
    </div>
    <div *ngFor="let post of posts" [id]="post.id" class="post">
        <div class="post-header">
            {{'by'|nls}} <a href="#?page=9&username={{post.username}}">{{post.username}}</a> 
            {{post.createdDate}}
            <button class="btn btn-default pull-right" *ngIf="username"(click)="quotePost(post)"><div class="quoteicon"></div></button>
            <button class="btn btn-default pull-right" *ngIf="username && post.username===username" (click)="editPost(post)"><div class="glyphicon glyphicon-pencil"></div></button>
        </div>
        <hr>
        <bbcode  [text]="post.body">
        </bbcode>
        <div class="clear"></div>
    </div>
    <form *ngIf="replyFlag" id="newPost">
        <bbcodeEditor #editor [text]="replyText">
        </bbcodeEditor>
        <input type="hidden" name="token" id="token" />
        <input type="hidden" name="body" id="body" />
        <input type="hidden" name="thread" id="thread" />
        <input type="hidden" name="postsKey" id="postsKey" />
        
        <div class="buttons">
            <div class="loading" *ngIf="loading"></div>
            <div class="btn btn-primary pull-right" (click)="replySubmit(editor.text, btn)" #btn>{{'Reply'|nls}}</div>
            <div class="btn btn-default pull-right" (click)="replyFlag=false">{{'Cancel'|nls}}</div>
            <div class="btn btn-warning pull-right" *ngIf="updateId" (click)="deletePost()">{{'Delete'|nls}}</div>
        </div>
    </form>
    
    <button class="btn btn-primary pull-right" (click)="reply()" *ngIf="!replyFlag&&username">{{'Reply'|nls}} <div class="glyphicon glyphicon-share"></div></button>
    <button class="btn btn-primary pull-right disabled" *ngIf="!username" [title]="'Login to reply'|nls">{{'Reply'|nls}} <div class="glyphicon glyphicon-share"></div></button>
</div>