html,body{ }
body{ background: url('../../img/bg.jpg'); } /*http://cwf-fcf.org/en/discover-wildlife/flora-fauna/flora/winterberry.html*/
#mainMap{
	width:100%;
	position:relative;
}
body .container{
	background-color: rgba(255,255,255,0.9);
	padding:20px;
	position:relative;
}

.popup{
	position: absolute;
    display: block;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 10px;
	z-index:100;
}
.blocker{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	z-index:99;
	display:block;
}
.btn-group{
	margin:5px 0;
}