html,body{ }
body{ background: url('../../img/bg.jpg'); } /*http://cwf-fcf.org/en/discover-wildlife/flora-fauna/flora/winterberry.html*/
#mainMap{
	width:100%;
	position:relative;
}
body .container.content{
	background-color: rgba(255,255,255,0.9);
	padding:20px;
	position:relative;
}

.popup{
	position: absolute;
    display: block;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 10px;
	z-index:100;
}
.blocker{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	z-index:99;
	display:block;
}
.btn-group{
	margin:5px 0;
}
.nav-container{
	background: #b4ddb4; /* Old browsers */
	background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 0%, #008a00 4%, #008a00 4%, #005700 83%, #003700 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 0%,#008a00 4%,#008a00 4%,#005700 83%,#003700 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 0%,#008a00 4%,#008a00 4%,#005700 83%,#003700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#nav .nav-title{
	font-weight: bold;
	padding:0px 10px;
}
#nav .nav-item a { 
	padding:0px 5px;
	color: white;
	height:33px;
	display:inline-block;
	padding-top:10px;
}
#nav .nav-item a:hover, .nav-item.active a{
	text-decoration: none;
	background-color:rgba(255,255,255,0.1);
}