<div class="container content" style="height:calc(100% - 50px)">



    <div style="height:100%; position: relative">
        <map id="mainMap" [data]="markers" [newMarker]="newMarker" (create)="setPosition($event)" [newPoint]="newPoint" style="height:100%">
        </map>
        <div *ngIf="!newPoint && username" class="btn new-button btn-primary" (click)="clickNewPoint()">+</div>

        <form id="addPointForm" *ngIf="newPoint && !advanced" tabindex="0">
            <h4>Add Location<small class="pull-right"><a (click)="openAdvanced()">Advanced</a></small></h4>
            <label>Name:</label>
            <input class="form-control" id="addPointName" name="name" type="text" />
            <label>Date Visited:</label>
            <input type="text" name="date" class="date form-control" id="formDate" />
            <label>Image Url: <a href="http://imgur.com" target="new">Upload</a></label>
            <input class="form-control" id="addPointImg" name="img" type="text" />
            <label>Icon:</label><br>
            <input type="radio" name="icon" id="icon1" value="1" (click)="setMarkerIcon(1)" checked/>
            <img src="img/tree.png" width="20px">
            <input type="radio" name="icon" id="icon2" value="2" (click)="setMarkerIcon(2)"/>
            <img src="img/greens.png" width="20px">
            <input type="radio" name="icon" id="icon3" value="3" (click)="setMarkerIcon(3)"/>
            <img src="img/berry.png" width="20px">
            <input type="radio" name="icon" id="icon4" value="4" (click)="setMarkerIcon(4)"/>
            <img src="img/mushroom.png" width="20px">
            <br>

            <label>Description:</label>
            <textarea class="form-control" id="addPointDescription" name="description" type="text"></textarea>
            <input type="hidden" class="form-control" id="addPointLat" name="latitude" />
            <input type="hidden" class="form-control" id="addPointLong" name="longitude" />
            <input type="hidden" name="token" id="token" />
            <div class="btn-group" >
                <button class="btn btn-primary ok" (click)="submit(btn)" #btn>Submit</button>
                <button *ngIf="id" class="btn btn-default" (click)="delete()">Delete</button>
                <button class="btn btn-default" (click)="onCancel()">Cancel</button>
                <div class="loading" *ngIf="loading"></div>
            </div>
        </form>
    </div>


    <form class="advanced" tabindex="0" id="mapadvanced" *ngIf="advanced">
        <hr>
        <h4>Advanced Add Location</h4>
        <label>Common Name:</label>
        <input class="form-control" id="addPointName" name="name" type="text" />
        <label>Scientific Name:</label>
        <input type="text" name="species" id="species" class="form-control autocomplete" placeholder="Enter 3 characters to search" />
        <label>Date Visited:</label>
        <input type="text" name="date" class="date form-control" id="formDate" />
        
        <label>Harvest Maturity Month:</label> <br>
        <div name="harvestMonth" id="harvestMonth"  class="form-control" (click)="harvestDropdown=true">{{getMonthText()}}</div>
        <div *ngIf="harvestDropdown" clickOutside (outside)="harvestDropdown=false">
            <div *ngFor="let monthText of months" (click)="selectedMonths[monthText]=!selectedMonths[monthText]">
                {{monthText}}
                <div class="glyphicon glyphicon-ok pull-right" *ngIf="selectedMonths[monthText]"></div>
            </div>
        </div>
        
        <label>Image Url: <a href="http://imgur.com" target="new">Upload</a></label>
        <input class="form-control" id="addPointImg" name="img" type="text" />
        <label>Icon:</label><br>
        <input type="radio" name="icon" id="icon1" value="1" (click)="setMarkerIcon(1)" checked/>
        <img src="img/tree.png" width="20px">
        <input type="radio" name="icon" id="icon2" value="2" (click)="setMarkerIcon(2)"/>
        <img src="img/greens.png" width="20px">
        <input type="radio" name="icon" id="icon3" value="3" (click)="setMarkerIcon(3)"/>
        <img src="img/berry.png" width="20px">
        <input type="radio" name="icon" id="icon4" value="4" (click)="setMarkerIcon(4)"/>
        <img src="img/mushroom.png" width="20px">
        <br>

        <label>Description:</label>
        <textarea class="form-control" id="addPointDescription" name="description" type="text"></textarea>
        <input type="hidden" class="form-control" id="addPointLat" name="latitude" />
        <input type="hidden" class="form-control" id="addPointLong" name="longitude" />
        <input type="hidden" name="token" id="token" />
        <div class="btn-group" >
            <button class="btn btn-primary ok" (click)="submit(btn)" #btn>Submit</button>
            <button *ngIf="id" class="btn btn-default" (click)="delete()">Delete</button>
            <button class="btn btn-default" (click)="onCancel()">Cancel</button>
            <div class="loading" *ngIf="loading"></div>
        </div>
    </form>

    
</div>