<div class="container content" style="height:calc(100% - 50px)">



    <div style="height:100%; position: relative">
        <map id="mainMap" [data]="markers" [newMarker]="newMarker" (create)="setPosition($event)" (viewVisits)="getVisits($event)"
            [newPoint]="newPoint" style="height:100%">
        </map>
        <div *ngIf="!newPoint && username" class="btn new-button btn-primary" (click)="clickNewPoint()">+</div>

        <form id="addPointForm" *ngIf="newPoint && !advanced" tabindex="0">
            <h4>Add Location<small class="pull-right"><a (click)="openAdvanced()">Advanced</a></small></h4>
            <label>Name:</label>
            <input class="form-control" id="addPointName" name="name" type="text" />
            <label>Date Visited:</label>
            <input type="text" name="date" class="date form-control" id="formDate" />
            <label>Image Url: <a href="http://imgur.com" target="new">Upload</a></label>
            <input class="form-control" id="addPointImg" name="img" type="text" />
            <label>Icon:</label><br>
            <input type="radio" name="icon" id="icon1" value="1" (click)="setMarkerIcon(1)" checked/>
            <img src="img/tree.png" width="20px">
            <input type="radio" name="icon" id="icon2" value="2" (click)="setMarkerIcon(2)"/>
            <img src="img/greens.png" width="20px">
            <input type="radio" name="icon" id="icon3" value="3" (click)="setMarkerIcon(3)"/>
            <img src="img/berry.png" width="20px">
            <input type="radio" name="icon" id="icon4" value="4" (click)="setMarkerIcon(4)"/>
            <img src="img/mushroom.png" width="20px">
            <br>

            <label>Description:</label>
            <textarea class="form-control" id="addPointDescription" name="description" type="text"></textarea>
            <input type="hidden" class="form-control" id="addPointLat" name="latitude" />
            <input type="hidden" class="form-control" id="addPointLong" name="longitude" />
            <input type="hidden" name="token" id="token" />
            <input type="hidden" name="foragelocation" id="foragelocation" />
            <div class="btn-group" >
                <button class="btn btn-primary ok" (click)="submit(btn)" #btn>Submit</button>
                <button *ngIf="id" class="btn btn-default" (click)="delete()">Delete</button>
                <button class="btn btn-default" (click)="onCancel()">Cancel</button>
                <div class="loading" *ngIf="loading"></div>
            </div>
        </form>
    </div>


    <form class="advanced" tabindex="0" id="mapadvanced" *ngIf="advanced">
        <hr>
        <h4>Advanced Add Location</h4>
        <label>Common Name:</label>
        <input class="form-control" id="addPointName" name="name" type="text" />
        <label>Scientific Name:</label>
        <input type="text" name="species" id="species" class="form-control autocomplete" placeholder="Enter 3 characters to search" />
        
        <label>Harvest Maturity Months:</label> <br>
        <div class="form-control multi ellipsis" (click)="harvestDropdown=true">{{getMonthText()}}</div>
        <div *ngIf="harvestDropdown" clickOutside (outside)="harvestDropdown=false" class="multi-list">
            <div *ngFor="let monthText of months" (click)="selectMonth(monthText)">
                <div class="glyphicon glyphicon-check pull-left" *ngIf="months[monthText.id].selected"></div>
                <div class="glyphicon glyphicon-unchecked pull-left" *ngIf="!months[monthText.id].selected"></div>
                {{monthText.label}}
            </div>
        </div>
        <input type="hidden" name="harvestMonth" id="harvestMonth" />
        
        <label>Image Url: <a href="http://imgur.com" target="new">Upload</a></label>
        <input class="form-control" id="addPointImg" name="img" type="text" />
        <label>Icon:</label><br>
        <input type="radio" name="icon" id="icon1" value="1" (click)="setMarkerIcon(1)" checked/>
        <img src="img/tree.png" width="20px">
        <input type="radio" name="icon" id="icon2" value="2" (click)="setMarkerIcon(2)"/>
        <img src="img/greens.png" width="20px">
        <input type="radio" name="icon" id="icon3" value="3" (click)="setMarkerIcon(3)"/>
        <img src="img/berry.png" width="20px">
        <input type="radio" name="icon" id="icon4" value="4" (click)="setMarkerIcon(4)"/>
        <img src="img/mushroom.png" width="20px">
        <br>
        <label for="access">Access:</label>
        <select name="access" id="access" class="form-control" offline>
            <option value="0">Unsure</option>
            <option value="1">Source is on my property</option>
            <option value="2">I have permission from the owner to add the source</option>
            <option value="3">Source is on public land</option>
            <option value="4">Source is on private property but overhangs public land</option>
            <option value="5">Source is on private property (ask before you pick)</option>
        </select>
        <br>
        <div *ngIf="!id">
            <hr/>
            <h4>Visit Info:</h4>
            <label>Date Visited:</label>
            <input type="text" name="date" class="date form-control" id="formDate" placeholder="mm/dd/yyyy" />
            <label for="fruitingStatus">Fruiting Status:</label>
            <select name="fruitingStatus" id="fruitingStatus" class="form-control" offline>
                <option value="0">Unsure/Other</option>
                <option value="1">Flowers</option>
                <option value="2">Unripe Fruit</option>
                <option value="3">Ripe Fruit</option>
            </select>
            <label for="quality">Quality:</label>
            <select name="quality" id="quality" class="form-control" offline>
                <option value="0">Unsure</option>
                <option value="1">Poor</option>
                <option value="2">Fair</option>
                <option value="3">Good</option>
                <option value="4">Very Good</option>
                <option value="5">Excellent</option>
            </select>
            <label for="yield">Yield:</label>
            <select name="yield" id="yield" class="form-control" offline>
                <option value="0">Unsure</option>
                <option value="1">Poor</option>
                <option value="2">Fair</option>
                <option value="3">Good</option>
                <option value="4">Very Good</option>
                <option value="5">Excellent</option>
            </select>
        </div>
        <label>Description:</label>
        <textarea class="form-control" id="addPointDescription" name="description" type="text"></textarea>

        <input type="hidden" class="form-control" id="addPointLat" name="latitude" />
        <input type="hidden" class="form-control" id="addPointLong" name="longitude" />
        <input type="hidden" name="token" id="token" />
        <input type="hidden" name="foragelocation" id="foragelocation" />
        
        <div class="btn-group" >
            <button class="btn btn-primary ok" (click)="submit(btn)" #btn>Submit</button>
            <button *ngIf="id" class="btn btn-default" (click)="delete()">Delete</button>
            <button class="btn btn-default" (click)="onCancel()">Cancel</button>
            <div class="loading" *ngIf="loading"></div>
        </div>
    </form>

    <div class="visits advanced" *ngIf="showVisits" tabindex="0">
        <h3>Visits to location {{visitLocationName}}</h3>
        <div class="table-container">
            <div class="table">
                <div class="table-row header-row">
                    <div class="row-cell" style="width:50px">
                        Id
                    </div>
                    <div class="row-cell" style="flex:1">
                        Username
                    </div>
                    <div class="row-cell" style="flex:1">
                        Date
                    </div>
                </div>
                <div class="table-row" *ngFor="let visit of forageVisits">
                    <div class="row-cell row-text" style="width:50px">
                        <div>{{visit.foragevisitskey}}</div>
                    </div>
                    <div class="row-cell" style="flex:1">
                        <div>{{visit.username}}</div>
                    </div>
                    <div class="row-cell" style="flex:1">
                        <div>{{visit.date}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>